#about-me {
    padding: 4rem 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    align-items: start;
}

.about-me-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
}

.about-me-header h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.profile-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
    height: auto;
    max-height: 500px; /* Ajusta la altura máxima según sea necesario */
    overflow: hidden;
    border-radius: 5%;
    box-shadow: 0 4px 8px var(--card-shadow);
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: left;
}

.text-container {
    margin: 0 auto;
    max-width: 800px;
}

.text-container p {
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.6;
}

.details {
    margin-top: 2rem;
}

.details ul {
    list-style-type: none;
    padding: 0;
}

.details li {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.mailto-link {
    margin-top: 2rem;
}

.mailto-link a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color var(--transition-duration);
}

.mailto-link a:hover {
    color: var(--secondary-color);
}